body {
  background-color: #222;
  font-size: 20px;
}

section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  margin: 10px;
  background-color: transparent;
}

blockquote {
  margin: 5px 10px;
  font-family: 'Roboto Mono', monospace;
  background-color: rgba(0,0,0,.25);
  color: white;
  border-radius: 5px;
}

code {
  display: inline-block;
}

.App {
  text-align: center;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.App-top {
  height: 20vh;
  margin-top: 7vh;
  justify-content: center;
  color: #fff;
  background-color: #444;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
}

.App-top h1 {
  font-size: 24px;
  letter-spacing: 4px;
}

.App-light {
  color: #aaa;
}

.App-land {
  padding: 10px;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 40vh;
}

.App-land>* {
  background-color: rgba(0,0,0,.75);
  padding: 10px;
  border-radius: 10px;
}

.App-header {
  background-color: #333;
  height: 5vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  text-transform: uppercase;
  z-index: 1000;
  box-shadow: 0 0 4px black;
}

.App header p {
  margin-left: 10px;
}

.App-navlinks {
  display: flex;
  align-items: baseline;
  margin: 0 10px;
}

.App-navlinks > * {
  float: left;
  margin-left: 10px;
  opacity: 0;
  position: relative;
  animation-name: App-listanim;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  font-size: calc(10px + 1vmin);
  transition: .25s;
}

.App a {
  color: white;
  text-decoration: none;
  position: relative;
}

.App header a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.App header a:hover:before {
  width: 100%;
}

.App-button {
  font-family: Cambria,Hoefler Text,"Liberation Serif",Times,Times New Roman,"serif";
  text-transform: uppercase;
  color: #fff;
  font-size: calc(12px + 1vmin);
  background-color: #333;
  padding: 2px;
  border-radius: 3px;
  margin: 0 10px;
  border: 2px solid #000;
  box-shadow: 0 2px 2px #000;
  text-decoration: none;
  cursor: pointer;
}

.App-button:hover {
  transform: scale(1.1);
}

.App-button:active {
  transform: scale(.9);
}

.App-menubutton {
  display: none;
}

.App-projnav {
  background: #333;
  z-index: 10;
  width: 100%;
  position: fixed;
  top: -5vh;
  left: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  box-shadow: 0 0 2px 2px black;
  transition: .5s cubic-bezier(.5,-0.5,.5,1.5);
}

.App-projnav.open {
  top: 5vh;
}

.App-projnav a {
  display: block;
  margin: 10px;
}

.App-menu {
  text-transform: capitlize;
  background: #333;
  color: #fff;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: fixed;
  top: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  box-shadow: 0 0 2px 2px black;
  transition: .5s cubic-bezier(.5,-.5,.5,1.5);
}

.App-menu div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.App-menu div > * {
    margin: 5px;
}

.App-menu.open {
  top: 5vh;
  max-height: 100%;
}

.App-container {
  width: 90%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App-about {
  color: #fff;
  background: #333;
  border-radius: 10px;
}

.App-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-info p {
  text-align: left;
  font-weight: 700;
  line-height: 25px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  width: 80%;
}

.App-icon {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 10px;
}

.App-avatar {
  border-radius: 50%;
  min-height: 128px;
  width: 128px;
  object-fit: cover;
  margin: 10px;
}

.App-bottom {
  color: white;
  background-color: black;
  margin: 50px 0;
  padding: 10px;
  border-radius: 10px;
}

.App footer {
  color: white;
  background-color: #333;
  height: 5vh;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}


.App-link {
  color: #61dafb;
}


@keyframes App-listanim {
  from {
    top: 5px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.App-list {
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.App-list>* {
  flex: 1 1 250px;
  max-width: 85%;
}

.App-listitem {
  opacity: 0;
  position: relative;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
  line-height: 20px;
  width: 250px;
  animation-name: App-listanim2;
  animation-duration: .25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.App-gallery {
  background-color: #000;
}

.App-gallery>* {
  flex: 1 1 250px;
  height: 250px;
  width: 250px;
}


.App-gallImg {
  border-radius: 0px;
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

.App-gallItem {
  cursor: default;
}

.App-projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 200px;
  line-height: unset;
  cursor: pointer;
  text-decoration: none;
  color: #777;
  transition: .5s;
}

.App-projectCard p {
  width: 90%;
}

.App-projectCard:hover {
  box-shadow: 0 0 2px 2px #aaa;
  transform: scale(1.1);
  transition: .5s;
}

.App-description {
  color: white;
  text-align: left;
  font-size: calc(14px + 1vmin);
  line-height: calc(14px + 1vmin);
  height: 100%;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-word;
  padding: 0 10px;
}

.App-description::-webkit-scrollbar {
  width: 5px;
  background-color: #333;
  border-radius: 2px;
}

.App-description::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 2px;
  background-color: #666;
}

.App-description code, .App-description pre {
  padding: 3px;
  background: rgba(0, 0, 0, .5);
  border-radius: 3px;
  margin: 5px 0;
  font-family: 'Roboto Mono', monospace;
  color: #333;
}

.App-tagline {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #52BAD5;
  font-style: italic;
}

.App-memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #444;
  border-radius: 5px;
  height: 500px;
  width: 250px;
  line-height: unset;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: default;
}

.App-memberCard h1 {
  color: white;
}

.App-note {
  background-color: #777;
  margin: 20px 0;
  border-radius: 10px;
}

.App-projAbout {
  text-align: justify;
  width: 75%;
  margin: 0 auto;
  line-height: 25px;
  font-weight: bold;
}

.App-projlinks {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 10px 0;
  border-radius: 10px;
}

.App-projlinks .App-list {
  padding: 50px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 700px) {
  header ul {
    padding: 0;
  }

  .App-menubutton {
    display: block;
  }

  .App-menu {
    display: flex;
  }

  .App-projbutton, .App-projnav, .App-navlinks {
    display: none;
  }
}

@keyframes App-listanim2 {
  from {
    top: 200px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes App-buttonhover {
  0% {
    background-color: inherit;
    border-color: #FFFFFF;
    color: #FFFFFF;
    transform: scale(1,1);
  }
  10% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  100% {
    border-color: purple;
    background-color: #a5a;
    color: #000;
    transform: scale(1,1);
  }
}

@keyframes App-buttonunhover {
  0% {
    background-color: #a5a;
    border-color: purple;
    color: #000;
    transform: scale(1,1);
  }
  10% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  100% {
    border-color: #FFF;
    background-color: inherit;
    color: #FFF;
    transform: scale(1,1);
  }
}