.Blog-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
 	background-color: transparent;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
	justify-content: center;
}

.Blog-list>* {
  flex: 1 1 400px;
  max-width: 85%;
  width: 400px;
  height: auto;
}