.Post-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	cursor: pointer;
	background-color: #555;
	color: white;
	font-size: 3vmin;
	border-radius: 10px;
	margin: 10px;
	line-height: 3vmin;
	width: 400px;
	text-decoration: none;
	overflow: hidden;
}

.Post-user {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgba(0,0,0, .5);
	padding: 10px;
	box-sizing: border-box;
}

.Post-user p {
	text-align: left;
	font-size: 4vmin;
	line-height: 5vmin;
	margin: 0;
}

.Post-icon {
	border-radius: 50%;
	height: calc(32px + 2vmin);
	width: calc(32px + 2vmin);
	object-fit: cover;
	margin: 0 10px;
}

.Post-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.Post-fade {
  position: relative;
  height: 9vmin;
  overflow: hidden;
}

.Post-fade p {
	margin: 0 5px;
	text-align: justify;
}

.Post-fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3vmin;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(85, 85, 85, 1) 50%);
}

.Post-cover {
	object-fit: fill;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}